body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    background-image: url(background.png);
}

.titulo{
    position: relative;

    margin-left: auto;
    margin-right: auto;

    font-weight: lighter;
    font-size: 12px;
    color: white;

    height: 80px;
    
    background: linear-gradient(45deg, #0001a0  20%, RGB(0, 169, 254) 70%, #00aaff 80%);
    border-radius: 10px;
    padding: 20px;

}
.subtitulo{
    position: relative;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    height: 25px;

    background-color: #cbcbcb;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
}
.products{
    display: flex;
    
    margin-bottom: 10px;
}
.product{
    width: 320px;
    height: 25px;

    background-color: #000097;
    color: white;
    text-align: center;
    font-weight: bold;
}

.images{
    display: flex;
}
.image{
    background: linear-gradient(45deg, #66a956  20%, #bbcbba 80%);
    border-radius: 15px;
    margin-right: 30px;

    height: 200px;
    width: 290px;

    vertical-align: middle;
    text-align: center;
    
}
.texto{
    display: flex;
   
    text-align: center;
}
.text{
    
    width: 290px;
    margin-right: 30px;
    margin-top: 10px;
}
.form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.form div {
    display: flex;
   
} 

.form-label {
    width: 100px;
    height: 30px;
    margin: 5px;
    text-align: right;
}

.form-input, .radio-options {
    margin: 5px;
    width: 250px;
}

.radio-options {
    display: flex;
    flex-direction: column; /* row, row-reverse, column, column-reverse */
    margin: 10px;
}

button {
    border-radius: 5px;
    padding: 5px;
    background-color: #000097;
    color: white;
    width: 100px;

    margin-left: auto;
    margin-right: auto; 
    
    animation-name: animacion3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

button:hover {
    background-color: rgb(23, 155, 23);
    font-weight: bold;
}

input {
    border-width: 2px;
    border-style: solid;
    border-color: #000097;
    border-radius: 5px;
}

.pie{
    background-color: #cbcbcb;
    height: 50px;
    vertical-align: middle;
    margin-top: 10px;

    animation-name: animacion2;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.element{

    margin-top: 10px;
    font-size: 27pt;
    text-align: center;
    vertical-align: middle;
    
    color: white;
    width: 150px;
    height: 50px;

    animation-name: animacion;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
@keyframes animacion {
    0% {
        transform: translateX(0px);
        background-color: rgb(0, 217, 255);
        opacity: 1;
    }

    50% {
        transform: translateX(900px) ;
        background-color: rgb(255, 0, 64);
        opacity: 0.6;
    }

    100% {
        transform: translateX(0px);
        background-color: rgb(107, 245, 82);
        opacity: 1;
    }
}
@keyframes animacion2 {
    0% {
        
        background-color: rgb(0, 255, 13);
    }

    50% {
        
        background-color: rgb(38, 0, 255);
    }

    100% {
        
        background-color: rgb(245, 215, 82);
    }
}
@keyframes animacion3 {
    0% {
        
        transform: scale(100%, 100%);
    }

    50% {
        
        transform: scale(150%, 150%);
    }

    100% {
        
        transform: scale(100%, 100%);
    }
}
